.photos > :nth-child(n + 10) {
  display: none;
}

.photos .photo-item:nth-child(9) {
  position: relative;
}

.photos .photo-item:nth-child(9)::before {
  content: "+2";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
