html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.content {
  min-height: calc(100% - 50px); /* adjust 50px to the height of your footer */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #222;
}
